<div class="grid-root">
  <div class="form-root">
    <form [formGroup]="form">
      <h4>WorldCup Dashboard</h4>
      <mat-form-field class="mb-3 mt-3 w-100" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required
        />
        <mat-error *ngIf="f.controls['email'].invalid"
          >E-mail invalid</mat-error
        >
      </mat-form-field>

      <mat-form-field class="mb-3 mt-3 w-100" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="mb-3 w-100">
        <p>
          Don't have an account?
          <a mat-button [routerLink]="['/auth/register']" class="link"
            >Click here!</a
          >
        </p>
      </div>
      <div
        *ngIf="isLoading"
        style="display: flex; justify-content: center; width: 100%"
      >
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button
        class="w-100"
        *ngIf="!isLoading"
        (click)="login()"
        [disabled]="f.invalid"
        mat-raised-button
        color="primary"
      >
        Log In
      </button>
    </form>
  </div>
  <div class="ml-1">
    <img src="/assets/images/undraw_forms_re_pkrt.svg" alt="Form Login" />
  </div>
</div>
