<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>WorldCup DashBoard</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn" >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/dashboard']">Dashboard</button>
      <button mat-menu-item [routerLink]="['/teams']">Teams</button>
      <button mat-menu-item [routerLink]="['/match']">Matches</button>
      <button mat-menu-item [routerLink]="['/standing']">Standings</button>
      <button mat-menu-item (click)="onLogout()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
