<div class="dashboard-container">
  <div *ngIf="!loading && !isError">
    <h2>Welcome to WorldCup DashBoard!</h2>
    <div class="dashboard-grid">
      <div class="card-counter primary">
        <i class="fa fa-soccer-ball-o"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalGoals }}</span>
          <span class="count-name">Goals</span>
        </div>
      </div>

      <div class="card-counter success">
        <i class="fa fa-code-fork"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalPoints }}</span>
          <span class="count-name">Points</span>
        </div>
      </div>

      <div class="card-counter primary">
        <i class="fa fa-check-circle"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalMatches }}</span>
          <span class="count-name">Matches</span>
        </div>
      </div>

      <div class="card-counter success">
        <i class="fa fa-trophy"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalWins }}</span>
          <span class="count-name">Wins</span>
        </div>
      </div>

      <div class="card-counter danger">
        <i class="fa fa-arrow-down"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalLosses }}</span>
          <span class="count-name">Losses</span>
        </div>
      </div>

      <div class="card-counter info">
        <i class="fa fa-exchange"></i>
        <div class="card-info-dashboard">
          <span class="count-numbers">{{ totalDraw }}</span>
          <span class="count-name">Draws</span>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div style="width: 50%">
        <canvas
          baseChart
          [options]="barChartConfig['options']"
          [datasets]="barChartData['datasets']"
          [labels]="barChartData['labels']"
          [chartType]="barChartType"
        ></canvas>
      </div>
    </div>
  </div>
  <div
    *ngIf="loading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    "
  >
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <h4>Loading...</h4>
  </div>
  <div *ngIf="isError">
    <h2>Something went wrong try later</h2>
  </div>
</div>
