<div class="grid-root">
  <div class="form-root">
    <form [formGroup]="form">
      <h4>Create an account</h4>
      <div class="mb-3 mt-3 w-100">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          id="name"
          placeholder="Jhon Doe"
        />
      </div>
      <div class="mb-3 mt-3 w-100">
        <input
          type="email"
          formControlName="email"
          class="form-control"
          id="email"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          type="password"
          formControlName="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="mb-3 w-100">
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confimPassword"
          placeholder="Confirm Password"
        />
      </div>
      <div class="mb-3 w-100">
        <p>
          Have an account?
          <a [routerLink]="['/auth']" class="link">Click here!</a>
        </p>
      </div>
      <div
        *ngIf="isLoading"
        style="display: flex; justify-content: center; width: 100%"
      >
        <div class="spinner-grow" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <button
        *ngIf="!isLoading"
        (click)="register()"
        type="button"
        [disabled]="f.invalid"
        class="btn btn-primary w-100"
      >
        Sing Up
      </button>
    </form>
  </div>
  <div class="ml-1">
    <img src="/assets/images/undraw_join_re_w1lh.svg" alt="Form Login" />
  </div>
</div>
