@import "~bootstrap/scss/bootstrap";

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-container {
  @include media-breakpoint-down(xxl) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(xxl) {
    display: grid;
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
  }
}